.flag {
    width: 30px;
}

.form-label {
    width: 100%;
    text-align: center;
}

.form-control {
    width: 50%;
    margin: auto;
}

.center {
    text-align: center;
}

.admin-button {
    margin: 30px;
    padding: 20px;
    background-color: rgb(43, 37, 37);   
}