a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: black;
}

.menüü {
  height: 20  0px;
  background-color: blue;
}

.carousel-item {
  text-align: center;
}

.carousel-picture {
  height: 250px;
}

.carousel-control-next, .carousel-control-prev {
 background-color: #cccccc; 
}

.carousel-caption {
  color: black;
} 

.carousel-indicators[data-bs-target] {
  background-color: black;
}

.center {
  text-align: center;
}

.item-picture {
  height: 100px;
  width: 100px;
}

header.has-transparent .nav {
  background-color: transparent;
}

header.not-transparent .nav {
  background-color: white;
}